<div class="container">
  <%= render(:partial => "navbar", :locals => {:color => "black"}) %>

  <%= render(:partial => "article", :locals => {:image => "police.jpg",
  :title => "Franklin County Traffic Violations", :date => "8/25/2019",
  :link => police_path,
  :description => "Wordpress website of tOSU club STEM Outeach with integration of several plugins."})%>

  <%= render(:partial => "article", :locals => {:image => "buckeye.png",
  :title => "STEM Outreach", :date => "2/08/2019",
  :link => "http://org.osu.edu/stemoutreach/",
  :description => "Wordpress website of tOSU club STEM Outeach with integration of several plugins."})%>

  <%= render(:partial => "article", :locals => {:image => "osu.jpg",
  :title => "Grader Matching Application", :date => "12/13/2018",
  :link => "https://project-6-fcdb.herokuapp.com",
  :description => "OSU CSE 3901 Ruby on Rails final group project that matches graders with classes.
   Involves different types of users and complex modeling."})%>

   <%= render(:partial => "article", :locals => {:image => "scraper-tool.jpg",
   :title => "Webscraping Police Records with Python", :date => "11/7/2018",
   :link => webscraping_path,
   :description => "Pulling records from Columbus Police Portal."})%>

   <%= render(:partial => "article", :locals => {:image => "health-app.png",
   :title => "Health Data Exploration", :date => "8/24/2018",
   :link => apple_path,
   :description => "Exploring my iphone's health data dating back to 2015 using Python. Use of Pandas and Chart.js library."})%>

   <%= render(:partial => "article", :locals => {:image => "pothole.png",
   :title => "Pothole Radar", :date => "8/24/2018",
   :link => "https://pothole-radar.herokuapp.com/potholes",
   :description => "Ruby on Rails application to mark potholes and view potholes around you. Involves the use of
   google maps API and JavaScript-heavy functionality."})%>

   <%= render(:partial => "article", :locals => {:image => "fish.jpg",
   :title => "Alum Creek Fishing", :date => "7/05/2017",
   :link => "https://mysterious-mesa-40318.herokuapp.com/",
   :description => "My first website to display fishing information on Alum Creek wildlife."})%>


</div>
</div>
