<div class="container">
  <nav class="navbar">
          <div class="navbar-brand">
            <span class="navbar-item">
                <%= link_to(root_path, class: "button is-black is-outlined") do %>
                    <span class="icon has-text-info">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                <% end %>
            </span>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">

                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-linkedin-square"></i>
                          </span>
                          <span>LinkedIn</span>
                      </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://github.com/Flysure" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-github"></i>
                          </span>
                          <span>Github</span>
                      </a>
                  </span>
              </div>
          </div>
  </nav>
  <article class="media offset is-size-4 fadein">
  <figure class="media-left">
    <p class="image is-96x96">
      <%= image_tag("health-app.png") %>
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <%= link_to(apple_path) do %>
      <p>
        <strong>Health Data Exploration</strong>  <small>8/24/2018</small>
        <% end %>

        <br>
        Exploring my iphone's health data dating back to 2015
      </p>
    </div>

  </div>

</article>
<article class="media offset is-size-4 fadein">
<figure class="media-left">
  <p class="image is-96x96">
    <%= image_tag("pothole.png") %>
  </p>
</figure>
<div class="media-content">
  <div class="content">
    <%= link_to("https://pothole-radar.herokuapp.com/potholes", :target => '_blank') do %>
    <p>
      <strong>Pothole Radar</strong>  <small>8/24/2018</small>
      <% end %>

      <br>
      Application to mark potholes and view potholes around you
    </p>
  </div>

</div>

</article>
</div>
</div>
