<div class="container">
  <nav class="navbar">
          <div class="navbar-brand">
            <span class="navbar-item">
                <%= link_to(root_path, class: "button is-black is-outlined") do %>
                    <span class="icon has-text-info">
                        <i class="fa fa-home"></i>
                    </span>
                    <span>Home</span>
                <% end %>
            </span>
              <span class="navbar-burger burger" data-target="navbarMenu">
                  <span></span>
                  <span></span>
                  <span></span>
              </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">

                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://www.linkedin.com/in/andrew-fleischer1997/" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-linkedin-square"></i>
                          </span>
                          <span>LinkedIn</span>
                      </a>
                  </span>
                  <span class="navbar-item">
                      <a class="button is-black is-outlined" href="https://github.com/Flysure" target="_blank">
                          <span class="icon has-text-info">
                              <i class="fa fa-github"></i>
                          </span>
                          <span>Github</span>
                      </a>
                  </span>
              </div>
          </div>
  </nav>
  <%= render(:partial => "article", :locals => {:image => "osu.jpg",
  :title => "Grader Matching Application", :date => "12/13/2018",
  :link => "https://project-6-fcdb.herokuapp.com",
  :description => "OSU CSE 3901 Ruby on Rails final group project that matches graders with classes.
   Involves different types of users and complex modeling."})%>

   <%= render(:partial => "article", :locals => {:image => "scraper-tool.jpg",
   :title => "Webscraping Police Records with Python", :date => "11/7/2018",
   :link => webscraping_path,
   :description => "Pulling records from Columbus Police Portal."})%>

   <%= render(:partial => "article", :locals => {:image => "health-app.png",
   :title => "Health Data Exploration", :date => "8/24/2018",
   :link => apple_path,
   :description => "Exploring my iphone's health data dating back to 2015 using Python. Use of Pandas and Chart.js library."})%>

   <%= render(:partial => "article", :locals => {:image => "pothole.png",
   :title => "Pothole Radar", :date => "8/24/2018",
   :link => "https://pothole-radar.herokuapp.com/potholes",
   :description => "Ruby on Rails application to mark potholes and view potholes around you. Involves the use of
   google maps API and JavaScript-heavy functionality."})%>


</div>
</div>
